.jimu-widget-coordinate .coordinate-background{
  line-height: 17px;
  overflow: hidden;
  font-size: 11px;
  color: #fff;
  background-color: rgb(0,0,0);/*for ie8*/
  background-color: rgba(0,0,0,0.5);
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border: 0px solid #000000;
}
.jimu-widget-coordinate .display-coordinate-menu{
  display: block !important;
  border-bottom: 1px solid rgba(255,255,255,0.4);
}
.jimu-widget-coordinate .coordinate-locate{
  width: 17px;
  height: 17px;
  background: url(images/locate.png) center no-repeat;
}
.jimu-widget-coordinate .coordinate-locate-container{
  width: 17px;
  height: 17px;
  border-right: 1px solid rgba(255,255,255,0.4);
}
.jimu-widget-coordinate .coordinate-locate-container:hover .coordinate-locate{
  background: url(images/locate-hover.png) center no-repeat !important;
  cursor: pointer;
}
.jimu-widget-coordinate .coordinate-locate-container-active .coordinate-locate{
  background: url(images/locate-active.png) center no-repeat !important;
  cursor: pointer;
}
.jimu-widget-coordinate .coordinate-info{
  margin: 0 5px;
  font-size: 11px !important;
  color: #fff !important;
}
.jimu-widget-coordinate .coordinate-info-menu-empty .coordinate-info{
  margin: 0;
}
.jimu-widget-coordinate .coordinate-info-menu-empty .coordinate-locate-container {
  border-style: none !important;
}
.jimu-widget-coordinate .coordinate-foldable-container {
  border-left: 1px solid rgba(255,255,255,0.4);
  height: 17px;
}
.jimu-widget-coordinate .coordinate-foldable{
  background: url(images/more.png) center no-repeat;
  cursor: pointer;
  width: 17px;
  height: 15px;
  margin: 1px 0;
}
.jimu-widget-coordinate:hover .coordinate-foldable{
  background-image: url(images/more-hover.png);
}

.jimu-rtl .jimu-widget-coordinate .coordinate-locate-container{
  border-right-style: none;
  border-left: 1px solid rgba(255,255,255,0.4);
}

.jimu-rtl .jimu-widget-coordinate .coordinate-locate-container:hover .coordinate-locate,
.jimu-rtl .jimu-widget-coordinate .coordinate-locate-container-active .coordinate-locate{
  background-position: right center;
}

.jimu-rtl .jimu-widget-coordinate .coordinate-foldable-container{
  border-left-style: none;
  border-right: 1px solid rgba(255,255,255,0.4);
}

/*override dijitMenu*/
.claro .jimu-widget-coordinate .dijitMenuTable {
  background: transparent;
  border-style: none;
}
/* .claro .jimu-widget-coordinate .dijitMenuItem {
  color: #fff;
}
.claro .jimu-widget-coordinate .dijitMenu .dijitMenuItem td{
  border-style: none;
  text-align: left;
  padding: 4px 2px;
} */
.claro .jimu-widget-coordinate .dijitMenu .dijitMenuItem.selected-item{
  font-weight: bold;
  background:transparent;
}
.jimu-rtl .claro .jimu-widget-coordinate .dijitMenu .dijitMenuItem td{
  text-align: right;
}
/* .claro .jimu-widget-coordinate .dijitMenu .dijitMenuItemHover td,
.claro .jimu-widget-coordinate .dijitMenu .dijitMenuItemHover {
  color: #fff;
  background: #000;
  border-style: none;
} */
.claro .jimu-widget-coordinate .dijitMenu .dijitMenuItemActive,
.claro .jimu-widget-coordinate .dijitMenu .dijitMenuItemActive td,
.claro .jimu-widget-coordinate .dijitMenu .dijitMenuItemSelected,
.claro .jimu-widget-coordinate .dijitMenu .dijitMenuItemSelected td{
  pointer-events: none;
  background: transparent;
  color: #fff;
}
/**
  * @author jvv
 * style select scale box
*/
.select-coordenate {
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  color: #000;
  border: none;
}
/**
  *End
*/