<div>
  <div data-dojo-attach-point="coordinateBackground">
    <div data-dojo-attach-point="coordinateMenuContainer">
      <div data-dojo-attach-point="coordinateMenu"></div>
    </div>
    <div data-dojo-attach-point="coordinateInfoMenu" class="coordinate-info-menu jimu-float-leading jimu-align-leading">
      <div class="jimu-float-leading coordinate-locate-container" data-dojo-attach-point="locateContainer">
        <div data-dojo-attach-point="locateButton" class="coordinate-locate jimu-float-leading"></div>
      </div>
      <div data-dojo-attach-point="coordinateInfo" class="coordinate-info">
        ${nls.loading}
      </div>
    </div>
    <select  data-dojo-type="dijit/form/Select" data-dojo-attach-point="scaleButton" class="dijit select-coordenate" id="scaleSelect">
    </select>
    <div class="jimu-float-trailing coordinate-foldable-container" data-dojo-attach-point="foldContainer">
      <div class="coordinate-foldable jimu-float-trailing" data-dojo-attach-point="foldableNode"></div>
    </div>
    <div class="dijit dijitInline dijitLeft dijitDownArrowButton jimu-float-leading jimu-align-leading">
      <div data-dojo-attach-point="coordinateMenu"></div>
    </div>
  </div>
</div>